<template>
    <div class="step">
        <div class="step__content">
            <div class="stepper__wrapper" :class="handlerStatus">
                <i v-if="isDoneStatus" class="fas fa-check" />
                <span v-else>{{ number }}</span>
            </div>
            <p :class="actualStep">{{ text }}</p>
        </div>
        <div class="stepper__separator"></div>
    </div>
</template>

<script>
export default {
    // Para configurar los pasos se precisa:
    // Number: número del paso
    // Text: texto que aparece justo debajo del número
    // Status: here si es el actual, next si forma parte de los siguientes pasos y done si el paso ha sido completado
    props: {
        number: {
            type: Number,
            default: 1,
            required: true,
        },
        text: {
            type: String,
            default: "Texto de ejemplo",
            required: true,
        },
        status: {
            type: String,
            default: "here",
            required: true,
        },
        step: {
            type: Number,
            default: 1,
            required: true,
        },
    },
    computed: {
        // En función del estado que obtenemos, cambiamos el color del texto
        actualStep() {
            return this.number === this.step ? "current-step" : "next-step";
        },
        handlerStatus() {
            if (this.step > this.number) {
                return "done";
            }
            return this.number === this.step ? "here" : "next";
        },
        isDoneStatus() {
            return this.handlerStatus === "done";
        },
    },
};
</script>

<style>
</style>