<template>
    <div class="stepper">
        <Steps
            v-for="step in stepsData"
            :key="step.id"
            :text="step.text"
            :number="step.number"
            :status="step.status"
            :step="step.step"
        />
    </div>
</template>

<script>
import Steps from "./steps.vue";
export default {
    components: {
        Steps,
    },
    props: {
        currentStep: {
            type: Number,
            default: 1,
            required: true,
        },
    },
    data() {
        // Esperamos recibir los datos desde la api, en función de los pasos que se quieran añadir se generan dinamicamente
        // Número
        // Texto
        // Estado
        return {
            stepsData: [
                {
                    id: 1,
                    number: 1,
                    text: "Mis datos",
                    status: "here",
                    step: this.currentStep,
                },
                {
                    id: 2,
                    number: 2,
                    text: "Pago",
                    status: "next",
                    step: this.currentStep,
                },
            ],
        };
    },
};
</script>

<style lang="less">
@import "~/assets/css/components/stepper.less";
</style>