<template>
    <footer>
        <div class="footer__content">
            <div class="footer--copyright">
                <p>2020 © We Are Marketing</p>
            </div>
            <div class="footer--logo">
                <Logo />
            </div>
        </div>
    </footer>
</template>

<script>
import Logo from "./Logo.vue";
export default {
    components: {
        Logo,
    },
};
</script>

<style lang="less" scoped>
@import "~/assets/css/components/footer.less";
</style>