<template>
    <header>
        <div class="header__content">
            <div class="logo">
                <Logo />
            </div>
            <nav>
                <Menu />
            </nav>
        </div>
    </header>
</template>

<script>
import Logo from "./Logo.vue";
import Menu from "./Menu.vue";

export default {
    components: {
        Logo,
        Menu,
    },
};
</script>

<style lang="less">
@import "~/assets/css/components/header.less";
</style>