<template>
    <span class="language">ES<i class="fas fa-caret-down" /></span>
</template>
<style scoped>
.language {
    display: flex;
}
@media (min-width: 768px) {
    .language {
        font-size: 0.8rem;
    }
}
</style>