<template>
    <ul class="menu">
        <li class="menu__handler" @click="handlerMenu" v-if="!openMenu">
            <i class="fas fa-bars" />
        </li>
        <div class="menu__mobile" v-show="openMenu">
            <i class="fas fa-times mobile menu__toggle" @click="handlerMenu" />
            <li><i class="far fa-file-alt" />Ayuda</li>
            <li><i class="far fa-user" />Sign in</li>
        </div>
        <li><Languages /></li>
    </ul>
</template>

<script>
import Languages from "./Languages.vue";
export default {
    // He optado por separar el idioma en un componente, porque en la vida real estaría en su componente con la lógica para cambiar el idioma
    components: {
        Languages,
    },
    data() {
        return {
            openMenu: false,
        };
    },
    methods: {
        handlerMenu() {
            this.openMenu = !this.openMenu;
        },
    },
};
</script>
<style lang="less" scoped>
@import "~/assets/css/components/menu.less";
</style>