<template>
    <form class="signin" @submit.prevent="submitForm">
        <div class="sigin__wrapper">
            <label class="name"> Nombre </label>
            <input
                type="name"
                placeholder="Introduce el nombre..."
                name="name"
                v-model="name"
                required
            />
            <label class="lastname"> Apellidos </label>
            <input
                type="lastname"
                placeholder="Introduce los apellidos..."
                name="lastname"
                v-model="lastname"
                required
            />
        </div>
        <div class="sigin__buttons">
            <Button title="Continuar" />
        </div>
    </form>
</template>

<script>
import Dialog from "~/components/ui/templates/dialog.vue";
import Button from "~/components/ui/templates/button.vue";
export default {
    components: {
        Dialog,
        Button,
    },
    data() {
        return {
            name: "",
            lastname: "",
            params: {},
        };
    },

    emit: ["submit"],
    methods: {
        submitForm() {
            const params = {
                name: this.name,
                lastname: this.lastname,
            };
            this.$emit("submit", params);
        },
    },
};
</script>

<style lang="less" scoped>
@import "~/assets/css/components/customerData.less";
</style>