<template>
    <form class="payment" @submit.prevent="submitForm">
        <div class="payment__wrapper">
            <i class="far fa-credit-card" />
            <h2>{{ title }}</h2>
            <p>
                {{ description }}
            </p>
            <div class="payment__creditcard">
                <i class="fab fa-cc-visa" />
                <i class="fab fa-cc-mastercard" />
            </div>
        </div>
        <div class="payment__buttons">
            <span @click="handlerBack">
                <Button title="Anterior" :next="next"
            /></span>
            <Button title="Continuar" />
        </div>
    </form>
</template>

<script>
import Dialog from "~/components/ui/templates/dialog.vue";
import Button from "~/components/ui/templates/button.vue";
export default {
    components: {
        Dialog,
        Button,
    },
    props: {
        title: {
            type: String,
            default: "Método de pago",
        },
        description: {
            type: String,
            default: "Texto de ejemplo para completar el proceso del pago",
        },
    },
    data() {
        return {
            name: "",
            lastname: "",
            next: false,
        };
    },

    emit: ["submit", "prevStep"],
    methods: {
        handlerBack() {
            console.log("ola");
            this.$emit("prevStep");
        },
        submitForm() {
            this.$emit("submit");
        },
    },
};
</script>

<style lang="less" scoped>
@import "~/assets/css/components/paymentMode.less";
</style>