@import './variables.less';

html {
  font-family             : 'Poppins', sans-serif;
  font-size               : 1.2rem;
  word-spacing            : 1px;
  -ms-text-size-adjust    : 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing : grayscale;
  -webkit-font-smoothing  : antialiased;
  box-sizing              : border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin    : 0;
}

body {
  background-color: #F4F4F4;
}

.container {
  padding        : 2rem 0;
  height         : calc(100vh - 214px);
  display        : flex;
  flex-direction : column;
  justify-content: center;

  >div {
    margin: 1rem auto 3rem auto;
  }
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}