@import '~/assets/css/variables.less';

button {
    border       : none;
    margin       : 1rem 0;
    border-radius: 30px;
    font-size    : 0.8rem;
    line-height  : 1.5rem;
    display      : flex;
    cursor       : pointer;

    span {
        margin   : 0 0.3rem;
        font-size: 1rem;
    }
}

.next {
    background-color: @highlighter-color;
    color           : @main-color;
    padding         : 0.3rem 0.2rem 0.3rem 0.5rem;
    border          : 1px solid @highlighter-color;
    transition      : 0.1s;

    &:hover {
        background-color: @main-color;
        color           : @highlighter-color;
        border          : 1px solid @highlighter-color;
    }
}

.prev {
    padding         : 0.3rem 0.5rem 0.3rem 0.2rem;
    background-color: @main-color;
    color           : @highlighter-color;
    border          : 1px solid @highlighter-color;
    transition      : 0.1s;

    &:hover {
        background-color: @highlighter-color;
        color           : @main-color;
        border          : 1px solid @highlighter-color;
    }
}