@import '~/assets/css/variables.less';

.sigin__wrapper {
    display       : flex;
    flex-direction: column;
    font-size     : 0.8rem;

    .lastname {
        margin-top: 1rem;
    }

    input {
        padding   : 0.5rem;
        margin-top: 0.3rem;

        &:focus {
            outline: none;
            border : 2px solid @highlighter-color;
        }
    }
}

.sigin__buttons {
    display        : flex;
    justify-content: flex-end;
}