@import '~/assets/css/variables.less';

.dialog {
    background        : @main-color;
    padding           : 1rem;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.78);
    box-shadow        : 0px 0px 6px 0px rgba(0, 0, 0, 0.78);
}

.dialog__header {
    text-align: center;

    h2 {
        font-size: 1.3rem;
    }

    p {
        margin   : 1rem 0;
        font-size: 0.8rem;
    }
}

img {
    width: 75px;
}



@media (min-width: 768px) {
    .dialog {
        width : 75vw;
        margin: 0 auto;

        >div {
            width : 50%;
            margin: 0 auto;
        }
    }
}

@media (min-width: 1440px) {
    .dialog {
        width: 50vw;
    }
}