@import '~/assets/css/variables.less';

footer {
    background: @main-color;
    min-height: 10vh;

    .footer__content {
        padding       : 2rem;
        display       : flex;
        flex-direction: column-reverse;
    }

    .footer--logo {
        width : 200px;
        margin: 0 auto;
    }

    p {
        font-size : 0.8rem;
        text-align: center;
    }
}




@media (min-width: 768px) {
    footer {
        width: 100%;

        .footer__content {
            display              : grid;
            grid-template-columns: repeat(2, 1fr);
            width                : 75vw;
            margin               : 0 auto;
            padding              : 2rem 0;
        }


        .footer--copyright {
            display    : flex;
            align-items: center;
        }

        .footer--logo {
            margin: 0 0 0 auto;
        }
    }
}

@media (min-width: 1440px) {
    footer {
        .footer__content {
            width: 50vw;
        }
    }
}