@import '~/assets/css/variables.less';

header {
    background: @main-color;

    .header__content {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        padding              : 0.5rem;

    }
}

.logo {
    display: flex;

    svg {
        width: 170px;
    }
}

@media (min-width: 768px) {
    header {
        width     : 100%;
        background: @main-color;

        .header__content {
            width                : 75vw;
            margin               : 0 auto;
            padding              : 0.5rem 0;
            grid-template-columns: 30% 70%;
            align-items          : center;
        }
    }
}

@media (min-width: 1440px) {
    header {
        .header__content {
            width: 50vw;
        }
    }

    .logo {
        svg {
            width: 250px;
        }
    }
}