@import '~/assets/css/variables.less';

.menu {
    list-style     : none;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;

    &__mobile {
        animation      : 0.2s appear;
        position       : absolute;
        top            : 0;
        left           : 0;
        background     : white;
        width          : 100%;
        height         : 100%;
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
    }

    &__toggle {
        position : absolute;
        right    : 1rem;
        top      : 1rem;
        font-size: 2rem;
    }
}

li {
    margin        : 0.5rem;
    text-transform: uppercase;
    font-weight   : 700;
    cursor        : pointer;

    &:hover {
        color     : @highlighter-color;
        transition: 0.1s;
    }

    .far {
        margin-right: 0.5rem;
    }
}


@keyframes appear {
    0% {
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .menu {
        &__mobile {
            display        : flex !important;
            position       : unset;
            background     : white;
            width          : 100%;
            height         : 100%;
            display        : flex;
            flex-direction : row;
            align-items    : center;
            justify-content: flex-end;
            font-size      : 0.8rem;
        }

        &__toggle,
        &__handler {
            display: none;
        }
    }
}