@import '~/assets/css/variables.less';

.payment {
    &__wrapper {
        display       : flex;
        flex-direction: column;
        font-size     : 0.8rem;
        text-align    : center;
        border        : 1px solid @separator-color;
        border-radius : 5px;
        padding       : 1rem;

        >i {
            font-size: 2rem;
            color    : red;
        }

        h2 {
            margin     : 0.5rem 0;
            font-weight: 400;
        }

        &__creditcard {
            margin-top: 0.5rem;
            font-size : 1.5rem;
        }
    }

    &__buttons {
        display        : flex;
        justify-content: space-between;
    }
}