@import '~/assets/css/variables.less';

.stepper {
    display        : flex;
    width          : 60%;
    justify-content: center;
    margin         : 0 auto;

    .step {
        &:last-child {
            .stepper__separator {
                display: none;
            }
        }
    }
}

.step {
    display    : flex;
    align-items: flex-start;

    &__content {
        display       : inherit;
        flex-direction: column;
        align-items   : center;
        text-align    : center;
    }

    .stepper__wrapper {
        width          : 30px;
        height         : 30px;
        border-radius  : 30px;
        display        : flex;
        align-items    : center;
        justify-content: center;
        margin         : 0 0.5rem;
    }

    .stepper__separator {
        width           : 50px;
        height          : 2px;
        background-color: @separator-color;
        margin-top      : 0.7rem;
    }

    p {
        text-transform: uppercase;
        font-weight   : 700;
        font-size     : 0.7rem;
        margin-top    : 0.5rem;
        width         : 100px;
    }
}


.here {
    border          : 1px solid @highlighter-color;
    background-color: @highlighter-color;
    color           : @main-color;
}

.next {
    border          : 1px solid @highlighter-color;
    background-color: @main-color;
    color           : @highlighter-color;
}

.done {
    background-color: @success-color;
    color           : @main-color;
}

.current-step {
    color: @secundary-color;
}

.next-step {
    color: #BDBDBD;
}