<template>
    <button :type="buttonType" :class="handlerColorButton">
        <span v-if="!next"><i class="far fa-arrow-alt-circle-left" /></span>
        {{ title }}
        <span v-if="next"><i class="far fa-arrow-alt-circle-right" /></span>
    </button>
</template>

<script>
export default {
    // Botón para formularios que requiera varios pasos.
    // Se tiene que especificar el título y si es para avanzar o retroceder en el proceso
    // Como opcional, se puede especificar el tipo de botón, por defecto será de tipo submit
    props: {
        title: {
            type: String,
            default: "Botón",
            required: true,
        },
        next: {
            type: Boolean,
            default: true,
        },
        buttonType: {
            type: String,
            default: "submit",
        },
    },
    computed: {
        handlerColorButton() {
            return this.next ? "next" : "prev";
        },
    },
};
</script>

<style lang="less" scoped>
@import "~/assets/css/components/button.less";
</style>