<template>
    <div class="dialog">
        <div class="dialog__header">
            <slot name="header" />
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
        </div>
        <div class="dialog__body">
            <slot name="body" />
        </div>
    </div>
</template>

<script>
export default {
    // Esta template está enfocara para usarse con un título y una descripción antes de añadir el componente principal.
    props: {
        title: {
            type: String,
            default: "Título de ejemplo",
            required: true,
        },
        description: {
            type: String,
            default: "Descripción de ejemplo",
            required: true,
        },
    },
};
</script>

<style lang="less" scoped>
@import "~/assets/css/components/dialog.less";
</style>