<template>
    <div>
        <Header />
        <Nuxt />
        <Footer />
    </div>
</template>

<script>
import Header from "~/components/main/Header.vue";
import Footer from "~/components/main/Footer.vue";
export default {
    components: {
        Header,
        Footer,
    },
};
</script>

<style lang="less">
@import "~/assets/css/main.less";
</style>
