<template>
    <div class="container">
        <Stepper :currentStep="step" :key="step" />
        <div v-if="isSelectedComponent('customerData')">
            <Dialog
                title="Mis Datos"
                description="Revisa los datos y completa aquellos pendientes antes de continuar con el proceso."
            >
                <template #body>
                    <CustomerData @submit="handlerViewComponent" />
                </template>
            </Dialog>
        </div>
        <div v-if="isSelectedComponent('paymentMode')">
            <Dialog
                title="Pago del producto"
                description="Una vez efectuado el pago del producto, recibirás un email con los detalles de la compra."
            >
                <template #body>
                    <PaymentMode
                        title="Tarjeta de crédito"
                        descriptioin="Se redirigirá a una plataforma de pago. Se trata de un proceso
                seguro. Puede que la validación del pago tarde 24 horas en
                completarse."
                        @submit="submitForm"
                        @prevStep="handlerGoBack"
                    />
                </template>
            </Dialog>
        </div>
    </div>
</template>

<script>
import { setData } from "~/services/homepageService.js";
import Stepper from "~/components/ui/stepper/stepper.vue";
import Dialog from "~/components/ui/templates/dialog.vue";
import CustomerData from "~/components/checkout/customerData.vue";
import PaymentMode from "~/components/checkout/paymentMode.vue";
export default {
    components: {
        Stepper,
        Dialog,
        CustomerData,
    },
    data() {
        return {
            component: "customerData",
            step: 1,
            params: {},
        };
    },
    methods: {
        // Encargado de controlar la visualización del componente
        // Está hardcodeado pero esto debería de tener un parámetro que indicase el componente a cargar pero para este caso no hace falta
        handlerViewComponent(params) {
            this.component = "paymentMode";
            this.params = { ...params };
            this.step = 2;
        },
        handlerGoBack() {
            this.component = "customerData";
            this.step = 1;
        },
        submitForm() {
            // La url es inventada
            setData(this.params);
            this.$router.push("/confirmation");
        },
        isSelectedComponent(component) {
            return this.component === component;
        },
    },
};
</script>
