<template>
    <div class="wrapper-spinner">
        <div class="spinner">
            <div class="lds-roller">
                <div />
                <div />
                <div />
                <div />
                <div />
                <div />
                <div />
                <div />
            </div>
        </div>
    </div>
</template>

<style lang="less" scoped>
@import "~/assets/css/components/spinner.less";
</style>
