<template>
    <div class="container">
        <Spinner v-if="isLoading" />
        <template v-else>
            <Stepper :currentStep="step" />
            <div>
                <Dialog
                    :title="successMessage.title"
                    :description="successMessage.text"
                >
                    <template #header>
                        <img src="@/assets/images/diploma.svg" />
                    </template>
                </Dialog>
            </div>
        </template>
    </div>
</template>

<script>
import { getConfirmationResponse } from "~/services/confirmationService.js";
import Stepper from "~/components/ui/stepper/stepper.vue";
import Dialog from "~/components/ui/templates/dialog.vue";
import Spinner from "~/components/ui/spinner/spinner.vue";
export default {
    components: {
        Stepper,
        Dialog,
        Spinner,
    },
    data() {
        return {
            step: 3,
            isLoading: false,
            successMessage: {},
        };
    },
    methods: {
        getData() {
            this.isLoading = true;
            // Simulo que la respuesta de la api tarda 1s en responder
            setTimeout(() => {
                getConfirmationResponse().then((response) => {
                    this.successMessage = response.data;
                    this.isLoading = false;
                });
            }, 1000);
        },
    },
    created() {
        this.getData();
    },
};
</script>